.switchContainer {
    position: absolute;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(68, 8, 189, 0.42) 0%, rgba(68, 8, 189, 0.42) 1%,rgba(63, 41, 171, 0.42) 1%, rgba(63, 41, 171, 0.42) 5%,rgba(59, 75, 152, 0.42) 5%, rgba(59, 75, 152, 0.42) 15%,rgba(54, 108, 134, 0.42) 15%, rgba(54, 108, 134, 0.42) 34%,rgba(50, 141, 116, 0.42) 34%, rgba(50, 141, 116, 0.42) 52%,rgba(45, 174, 98, 0.42) 52%, rgba(45, 174, 98, 0.42) 58%,rgba(41, 208, 79, 0.42) 58%, rgba(41, 208, 79, 0.42) 62%,rgba(36, 241, 61, 0.42) 62%, rgba(36, 241, 61, 0.42) 100%),linear-gradient(90deg, rgb(104, 198, 172) 0%, rgb(104, 198, 172) 13%,rgb(89, 178, 175) 13%, rgb(89, 178, 175) 15%,rgb(74, 159, 179) 15%, rgb(74, 159, 179) 18%,rgb(59, 139, 182) 18%, rgb(59, 139, 182) 50%,rgb(45, 120, 186) 50%, rgb(45, 120, 186) 64%,rgb(30, 100, 189) 64%, rgb(30, 100, 189) 65%,rgb(15, 81, 193) 65%, rgb(15, 81, 193) 81%,rgb(0, 61, 196) 81%, rgb(0, 61, 196) 100%);
  }

  .backBtn{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
  }
  
  .centered {
    position: absolute;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    transition: all 2s ease-in-out;
  }

  .rightTextExit {
    transform: scale(30);
    opacity: 0;
    filter: blur(5px);
  }

 .textEnter {
    transform: scale(1);
    opacity: 1;
    display: flex;
    filter: blur(0px);
  }

  .leftTextExit {
    transform: scale(0);
    opacity: 0;
    filter: blur(5px);
  }
  
  .switchButton {
    position: absolute;
    display: flex;
    bottom: 100px;
    align-items: center;
    z-index: 9999;
  }
  
  
  .leftButton,
  .rightButton {
    padding: 10px 50px;
    font-size: 24px;
    background-color: #e5e3e3;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

    
  .leftButton:hover,
  .rightButton:hover {
    background-color: #6b6b6b;
    transform: scale(1.2);
    box-shadow: 0 0 10px #777777;
    color: #fff;
  }
  
  .rightButton {
    margin-left: 100px; 
  }

  .message{
    position: absolute;
    display: flex;
    bottom: 50px;
    font-size: 24px;
    align-items: center;
    z-index: 9999;
  }
  